.m-page-index
  position relative
  >.head
    padding 39px 0
    margin-bottom 60px
    text-align center
  >.title
    font-family '楷体', fantasy
    font-size 55px
    margin-bottom 50px
    text-align center
    color white
    font-weight bold
  >.topicList
    margin 0 auto 86px
    width 1200px
    overflow hidden

