body
  background none

.m-nav-btn
  position absolute
  top 28px
  right 22px
  .item
    display inline-block
    text-align center
    margin-right 8px
    padding 0 20px
    border-radius 4px
    &.active
      background #4995d1

.m-titleline
  margin 26px auto 20px
  height 42px
  border 1px solid #eaeaea
  border-radius 4px
  color #333333
  line-height @height
  padding-left 16px
  box-sizing border-box
  width 1200px
  >a
    float right
    border-left @border
    width 112px
    height @height
    text-align center
    color #676666
    font-size 14px

.m-head-com
  background url('../img/b-全局.png') no-repeat
  background-size cover
  height 100px
  padding-top 30px
  box-sizing border-box
  >.title
    font-size 35px
    font-family "楷体", fantasy
    color white
    width 1200px
    display block
    margin 0 auto

.m-pagc-topic-form
  width 300px
  margin 60px auto