.topicList
  width 1200px
  margin 0 auto
  overflow hidden

.m-topic-item
  margin-bottom 10px

button.addtopic
  border 0
  height 52px
  display block
  width 142px
  cursor pointer
  font-size  16px
  color white
  border-radius 4px
  margin 20px auto 24px
  background #fa7e65 linear-gradient(to left, #de683a, #ff826e)
