.m-titleline
  .btns
    float right
    height 40px
    a
      width 111px
      border-left 1px solid #eaeaea
      float left
      text-align center
      font-size 14px
      height 40px
      line-height @height
      display none
      .i
        margin-right 7px
      &.addtop
      &.share
      &.addyes
        color #22a4e0
      &.rmall
      &.rmyes
        color #ff8080
      &.cancel
        color #999999

.m-page-topiclib.normal
  .m-titleline
    .btns
      a
        &.addtop
        &.share
        &.rmall
          display block

.m-page-topiclib.share
  .m-titleline
    .btns
      a
        &.addyes
        &.cancel
          display block

.m-page-topiclib.rmall
  .m-titleline
    .btns
      a
        &.rmyes
        &.cancel
          display block
          
.m-topics
  width 1200px
  margin 0 auto
  margin-bottom 10px
  >.title
    font-size 16px
    color #333333
    margin-bottom 20px
  >.cont
    overflow hidden
  .m-topic-item
    margin-bottom 10px