border = 1px solid #eaeaea

.m-page-star
  width 1200px
  margin 0 auto
  >.item
    border border
    margin-bottom 20px
    border-radius 4px
    >.head
      height 42px
      border-bottom border
      font-size 14px
      line-height @height
      >.title
        color #333333
        float left
        padding-left 16px
      >.del
        float right
        border-left border
        color #ff8080
        width 112px
        text-align center
        cursor pointer
        >.i
          margin-right 8px
    >.body
      font-size 12px
      padding 14px
      overflow hidden
      >.cont
        line-height 20px
        height 40px
        color #666666
        margin-bottom 24px
      >.foot
        color #999999
        float right
        >*
          display inline-block
        .from
          margin-right 16px